.about {
  background-color: var(--BrandBeige);
  padding: 10rem 0;
}
.about .content {
  display: flex;
  flex-wrap: wrap;
  /* gap: 4rem; */
}
.about .content .about-img {
  max-width: 50%;
}
.about .content .about-img img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.about .content .text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about .content .text h2 {
  text-align: initial;
  margin-left: 0;
  margin-bottom: 1.5rem;
}
.about .content .text p {
  color: var(--GrayParagraph);
  line-height: 1.5;
}

/* RESPONSIVIDADE PARA TABLET */
@media (max-width: 768px) {
  .about {
    padding: 5rem 0;
  }
  .about .content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .about .content .text {
    max-width: 100%;
  }
  .about .content .text .title-section {
    margin-left: auto;
    margin-right: auto;
  }
  .about .content .text h2 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    text-align: center;
  }
  .about .content .about-img {
    max-width: 100%;
    margin: auto;
  }
  .about .content .about-img img {
    width: 100%;
    margin: auto;
  }
}
