.header {
  background-color: var(--BrandColor);
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .logo {
  opacity: 0.8;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
.header .logo:hover {
  opacity: 1;
}
.header .menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .menu a:not(.btn) {
  display: block;
  font-weight: 700;
  color: var(--BrandLight1);
  padding: 1rem 0;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
#checked {
  box-shadow: 0px -2px inset var(--White);
}
#checked a {
  color: var(--White);
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
.header .menu a:hover,
#checked a:hover {
  opacity: 0.7;
}
