.hero {
  background-color: var(--BrandLight1);
}
.hero .content {
  display: flex;
  align-items: flex-end;
}
.hero .headline,
.hero .hero-img {
  flex: 1;
}
.hero .headline {
  padding: 4rem 0;
  align-self: flex-start;
}
.hero .headline h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--GrayHeadline);
  margin: 0.5rem 0 1rem 0;
}
.hero .headline p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--GrayParagraph);
  margin-bottom: 2rem;
}
.hero .headline .cta span {
  display: block;
  letter-spacing: normal;
  color: var(--White);
}
.hero .hero-img {
  margin-left: auto;
  margin-right: auto;
}
/********** NUMBERS INFO **********/
.hero .numbers {
  position: relative;
  background-color: var(--BrandBeige);
  padding: 3rem;
  margin-bottom: -5rem;
  border: 1px solid var(--BrandLight1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hero .numbers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hero .numbers li {
  text-align: center;
}
.hero .numbers span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.hero .numbers h4 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--BrandColor);
}
.hero .numbers .separator {
  height: 5rem;
  width: 2px;
  background-color: var(--BrandColor);
}

/* RESPONSIVIDADE PARA TABLET */
@media (max-width: 940px) {
  .hero .headline h1 {
    font-size: 40px;
  }
  .hero .hero-img img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* RESPONSIVIDADE PARA TABLET */
@media (max-width: 768px) {
  .hero .content {
    flex-direction: column;
  }
  .hero .headline {
    text-align: center;
    padding-bottom: 2rem;
  }
  .hero .headline .cta {
    margin: auto;
  }
  .hero .hero-img img {
    max-width: 90%;
  }
  .hero .numbers {
    padding: 2rem;
  }
  .hero .numbers span {
    font-size: 36px;
  }
}

/* RESPONSIVIDADE PARA MOBILE */
@media (max-width: 650px) {
  .hero .numbers {
    max-width: 90%;
  }
  .hero .numbers ul {
    flex-direction: column;
  }
  .hero .numbers .separator {
    width: 100%;
    height: 2px;
    margin: 1.5rem 0;
  }
}
