.services {
  background-color: var(--BrandLight2);
  padding: 12rem 0 10rem 0;
}
.services .top {
  text-align: center;
}
.services .card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.services .card-box .card {
  width: 350px;
  height: 210px;
  padding: 1.5rem;
  background-color: var(--White);
  border: 1px solid var(--BrandLight1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.services .card-box .card img {
  margin-bottom: 1rem;
}
.services .card-box .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--GrayHeadline);
  margin-bottom: 1rem;
}
.services .card-box .card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--GrayParagraph);
}
